extends layout

block content
  h1 So far, so good...
  #paymentElement
  button#gobutton(type='button') Okay, go
  script.
    var stripe;
    var elements;
    const goButton = document.getElementById("gobutton");
    
    goButton.addEventListener("click", (event) => {
      console.log('Okay, going!');
      stripe.confirmPayment({
        elements,
        confirmParams: {
          // Return URL where the customer should be redirected after the PaymentIntent is confirmed.
          return_url: 'https://24f2-66-211-157-82.ngrok.io/handle_redirect',
        },
      })
      .then(function(result) {
        if (result.error) {
          document.getElementById("data").innerHTML = `There was a nerror: ${JSON.stringify(result.error)}`;
        }
        else {
          document.getElementById("data").innerHTML = "I guess that worked";
        }
      });      
    });

    window.onload = async (event) => {
      stripe = Stripe(
        "pk_test_51MikWFIentMRxMOaTOaruHHvKSOjEIHcpGCPPdtSFZmOub6WRjX04PANGooxoLl9BWD8FILWi9J4iN93OtvVuBEM000PYI8gQe");

      elements = stripe.elements({
        clientSecret: "#{secret}",
      });

      var paymentElement = elements.create('payment');
      paymentElement.mount(document.getElementById("paymentElement"));
      goButton.style.visibility = "visible";      
    }
