extends layout

block content
  h1 Stripe 3DS POC
  form(action='/authenticated' method='post')
    #wrapper
      #left
        label(for='skey') Secret Key:
        label(for='amount') Amount (in minor units, no decimal):
      #right
        input#skey(type='text' name='skey' size='125')
        input#amount(type='text' name='amount' size='12' value='13345')
    input#submit(type='submit' value='Get some!' style='margin-top: 5px')

